<% layout("layouts/boilerplate.ejs") %>

<div class="row">
    <!--    "offset-* moves columns to the right by a certain number of columns.
            Here, it has been used for centering column elements, primarily the form groups.      -->
    <div class="col-8 offset-2">
        <h3 class="my-4">Create a New Listing</h3>
        <!--    novalidate attribute on a <form> disables the default HTML5 validation.
                The needs-validation class in bootstrap applies custom client-side validation styles using JavaScript to
                trigger and display feedback  -->
        <form
            action="/listings"
            method="post"
            novalidate
            class="needs-validation"
        >
            <!--    The form-group class groups form elements together with proper spacing.
                    The form-label class ensures proper spacing and alignment of labels.
                    The form-control class is applied to input elements to style them with Bootstrap’s default design.     -->
            <div class="form-group mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                    type="text"
                    placeholder="Add a catchy title"
                    id="title"
                    class="form-control"
                    name="listing[title]"
                    required
                />
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Title is required.</div>
            </div>
            <div class="form-group mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                    id="description"
                    class="form-control"
                    name="listing[description]"
                    required
                ></textarea>
                <div class="valid-feedback">Description seems valid.</div>
                <div class="invalid-feedback">
                    Please enter a short description.
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="img-link" class="form-label">Image Link</label>
                <input
                    type="text"
                    placeholder="Enter image URL/Link"
                    id="img-link"
                    class="form-control"
                    name="listing[image]"
                />
            </div>
            <div class="form-group mb-3">
                <label for="price" class="form-label">Price</label>
                <input
                    type="number"
                    placeholder="1200"
                    id="price"
                    class="form-control"
                    name="listing[price]"
                    required
                />
                <div class="valid-feedback">Great pricing!</div>
                <div class="invalid-feedback">
                    Price must be a positive number.
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8 mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input
                        type="text"
                        placeholder="Jaipur, Rajasthan"
                        id="location"
                        class="form-control"
                        name="listing[location]"
                        required
                    />
                    <div class="valid-feedback">Location has been set.</div>
                    <div class="invalid-feedback">
                        Please provide a location.
                    </div>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input
                        type="text"
                        placeholder="India"
                        id="country"
                        class="form-control"
                        name="listing[country]"
                        required
                    />
                    <div class="valid-feedback">
                        Country selection confirmed.
                    </div>
                    <div class="invalid-feedback">
                        Please specify the country.
                    </div>
                </div>
            </div>
            <button class="btn btn-dark mt-4 mb-5 btn-add">Add</button>
        </form>
    </div>
</div>
